{{define "mainheader"}}
    <header class="main-header">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>F</b>ND</span>
            <span class="logo-lg"><b>FOUND</b>配置管理后台</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/common/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Lee Zhu</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/common/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    ****产品技术部
                                    <small>高级java工程师</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#" class="btn btn-block btn-default btn-sm">Profile</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#" class="btn btn-block btn-default btn-sm">Password</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#" class="btn btn-block btn-default btn-sm">Sign out</a>
                                    </div>
                                </div>
                            </li>
                           {{/* <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Password</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>*/}}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{{end}}