{{define "sidebar"}}
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            {{$breadcrumb := .Breadcrumb}}
            {{range $l := .LeftMenus}}
                {{if eq (len .VisibleItems) 0}}
                    <li {{ range $b := $breadcrumb}}{{if (eq $l.ID $b.ID) }} class="active" {{end}}{{end}}>
                        <a href="{{.Url}}">
                            <i class="fa {{.Icon}}"></i><span>{{.Name}}</span>
                        </a>
                    </li>
                {{else}}
                    <li class="treeview {{ range $b := $breadcrumb}}{{if (eq $l.ID $b.ID) }} active {{end}}{{end}}">
                        <a href="{{.Url}}">
                            <i class="fa {{.Icon}}"></i> <span>{{.Name}}</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            {{range $v := .VisibleItems}}
                                <li {{ range $b := $breadcrumb}}{{if (eq $v.ID $b.ID) }} class="active" {{end}}{{end}}>
                                    <a href="{{.Url}}"><i class="fa fa-circle-o"></i> {{.Name}}</a>
                                </li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            {{end}}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
{{end}}