<!DOCTYPE html>
<html>
{{template "header" .}}
<body {{template "skin" .}}>
<div class="wrapper">
    {{template "mainheader" .}}
    <aside class="main-sidebar">
        {{template "sidebar" .}}
    </aside>

    <div class="content-wrapper">
        {{template "breadcrumb" .}}

        <!-- Main content ----------------------------------------------->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>说明</th>
                                                <th>执行器</th>
                                                <th>触发器</th>
                                                <th>状态</th>
                                                <th>修改人</th>
                                                <th>修改时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .Tasks}}
                                                <tr>
                                                    <td>{{.Name}}</td>
                                                    <td>{{.Note}}</td>
                                                    <td>{{.Executor.Name}}</td>
                                                    <td>{{range .Triggers}}
                                                            <div>{{.Value}}</div>{{end}}</td>
                                                    <td>X</td>
                                                    <td>X</td>
                                                    <td>X</td>
                                                    <td>
                                                        <button class="btn btn-primary btn-xs" type="button" title="info">info</button>
                                                    </td>
                                                </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.col-sm-12 -->
                                </div>
                                <!-- /.row -->
                                {{template "pager" .}}
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content ----------------------------------------------->
    </div>
    {{template "footer" .}}
</div>
</body>
</html>